.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 61px;
    background: #101010;
    border-radius: 10px;
    margin: 0 auto;
}

.button img {
    width: 22px;
    height: 22px;
}

.button p {
    color: white;
    font-size: 24px;
    line-height: 29px;
}